.navbar {
	width: 100%;
	height: 70px;
	background-color: #101617;
	display: flex;
	align-items: center;
	position: fixed;
	justify-content: space-between;
}
.navbar h1 {
	color: white;
	font-size: 25px;
	height: 36px;
	margin-left: 15%;
}
.navbar ul{
	display: flex;
	justify-content: left;
	position: absolute;
	left: 30%;

}
.navbar ul li{
	display: flex;
	list-style: none;
	padding: 10px 20px;
	font-size: 22px;
}
.navbar ul li a{
	display: flex;
	text-decoration: none;
	color: white;

}

.home_btn{
	position: relative;
	right: 10%;
}

.main_btn,.sign_btn{
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: #03203E;
	color: white;
	border-radius: 20px;
	width: 100px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}

.sign_btn{
	background: #10867F;
}
.main {
	width: auto;
	min-height: 80vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;

}
.main h1,p{
	color: white;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main_card .card_content{
	width: 600px;
	height: auto;
	text-align:left;
	position: relative;
	top: 28%;
	left: 15%;

}
.main_card .card_content p{
	font-size: 20px;
	line-height:32px;
	font-weight: 500;

}
.main .main_card{
	height: 80vh;
	width: 100%;
	background-repeat: no-repeat;
	margin-top: 60px;
	background-image: url('../../Images/homebg.jpg');
	display: flex;
} 